 /* styling the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;


   
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
    position: relative; 
}

.close {
    position: absolute;
    top: 10px; 
    right: 10px; 
    cursor: pointer;
    font-size: 20px;
}
/*--------------------------*/

/*Form Styles*/
form {
	display: flex;
	flex-direction: column;
	padding-left:1em ;
	width: 80%;


}
#selectionBars div {
    margin: 15px;
}
/*Cost Page Styles*/
#Cost {
    background-image: url("../media/BG.jpeg");
    background-repeat: no-repeat;
    background-size:cover ;
    background-attachment: fixed;
}
/*Tozeur Page Styles*/
#Tozeur {
    background-image: url("../media/TozeurBG.jpg");
    background-repeat: no-repeat;
    background-size:cover ;
    background-attachment: fixed;
}

/*Mahdia Page Styles*/
#Mahdia {
    background-image: url("../media/MahdiaBG.jpg");
    background-repeat: no-repeat;
    background-size:cover ;
    background-attachment: fixed;
}

/*Hammamet Page Styles*/
#Hammamet {
    background-image: url("../media/hammamet1.jpg");
    background-repeat: no-repeat;
    background-size:cover ;
    background-attachment: fixed;
}

/*Home page Styles*/
#Home {
    background-image: url("../media/Tunisia-OG.jpg");
    background-repeat: no-repeat;
    background-size:cover ;
    background-attachment: fixed;
}
div.first{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.smaller{
    width:50%;
}

/*Grid organizing*/
.container{
    display: grid;
    grid-template-columns: 70% 1fr;
}
.container img{
    grid-column-start: 2;
    width:100%;
}
.attraction img{
    grid-column-start: 1;
}
.upper{
    grid-column: 2/3;
}
.lower{
    grid-column: 2/4;
}
.attraction iframe{
    grid-column: 3/4;
    grid-row: 1/3;
    width:100%;
    height:80%;
    border:none;
    margin: 1em;
}

/*General Styles*/
table { margin: auto;
    width: 50%;
    border: 2px dashed #3399CC; 
    border-collapse: collapse; 
    margin: 15px;
    text-align: left;
}
td, th { padding: 5px;
     border: 1px solid #3399CC;
}

tr:nth-of-type(even) { 
    background-color: #F5FAFC;
 }
#nav{
    font-size:30px;
    cursor:pointer
}
header h2 {
    margin: 0px;
    padding: 3%;
    color: rgb(19, 80, 0) ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;  
}

p {
    color: #000000;
    font-size: 18px;
    line-height: 1.6;
}
article{
    grid-column-start: 1;
    padding-right:5% ;
}

img, video {
    width:80%;
    grid-column-start: 2;
    padding: 5%;
    opacity: 1;
}   
.attraction {
    display: grid;
    grid-template-columns: 1fr 20% 1fr;
}
main {
    background-color:rgb(240,248,255,0.8);
    padding: 3%;
    margin:15px;
    font-size: 120%;

}
.lower li{
    margin: 5px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image:url("../media/navBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #ff0000;
    font-weight: bold;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }


footer {
    background-color: rgb(224,205,169,0.8);
    text-align: center;
    font-style: italic;
    padding: .1em; 
}

p span {
    font-style: italic;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    font-size: 120%;
}

/* style for medium and small displays*/
@media (max-width:1024px) {
    main{
        max-width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    .container, .attraction, div.first{
        display: flex;
        flex-direction: column;
        }
    img{
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .attraction iframe{
        width:50%;
        height:70%;
        border:none;
    }
    article{
        display: flex;
        flex-direction: column;
    }
    .smaller{
        width:100%;
        padding: 0;
        margin: 0;
    }
}



